PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=0
Server={{ hostvars['zabbix_server']['ansible_host'] }}
ServerActive={{ hostvars['zabbix_server']['ansible_host'] }}
Hostname={{ inventory_hostname }}
HostMetadata={{ inventory_hostname }}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
UserParameter=nginx.version,nginx -v 2>&1 | grep -oP 'nginx version: nginx/\K.*'
 
